Flask
tabulate
python-dotenv
yfinance
scikit-learn
lightgbm
xgboost
requests
pandas
discord.py
ta
duckdb
apschedulerpre-commit
mypy
types-requests
types-PyYAML
types-tabulate
pylint
flake8
black
isort